
		<div class="nav-container">
			<div class="contentHolder">
				<p><a href="/register.html" id="registerlink">Register</a></p>
				<p><a href="/profile.html" id="profilelink">Profile</a></p>
				<p><a href="/create-coupon.html">Create Coupon</a></p>	
			</div>
		</div>
		<div id="contentStack">
		
		</div>
		<p id="image">
		  <img src="imgs/coupon.jpg"/ width="150" height="150" alt="coupon">
		  <img src="imgs/ticket.gif"/ width="150" height="150" alt="ticket">
		</p>



