		<div class="navContainer">
			<div class="contentHolder">
				<h1>Profile</h1>
				<p><a href="/profile" id="editProfileTrigger">Edit profile</a></p>
				<p><a href="/create-coupon.html">Create coupon</a></p>	
			</div>
		</div>
		<div id="contentStack">
			<div class="contentHolder">
				<h2 class="welcome">
					<span>Welcome to your profile page</span>
					<div class="username-container"></div>
				</h2>
				<ul class="profile">
				  <li><label>Address: </label><div class=address></div><button>Edit</button>
				  <li><label>Phone Number: </label><div class=phonenumber></div><button>Edit</button>
				  <li><label>Credit Card Number: </label><div class=creditnumber></div><button>Edit</button>
				  <li><label>Paypal Account: </label><div class=paypal></div><button>Edit</button>    
				</ul>		
			</div>
		</div>
    

